<form action="/editAutomate" method="post" class="lato-font" id="edit-form">

  <div class="form-group">
    <div class="row">
      <div class="col"> <label for=""> Marque</label>
        <input class="form-control" type="text" name="marque" value="<%=automates.marque%>" id="marque" />
      </div>
      <div class="col">
        <label for=""> Type</label>
        <input class="form-control" type="text" name="type" value="<%=automates.type%>" id="type" />
      </div>
    </div>
  </div>

  <div class="form-group ">
    <div class="row">
      <div class="col">
        <label for=""> Date de mise en service </label>
        <input class="form-control" type="date" name="date_service" value="<%=automates.date_service%>" id="date_service" />
      </div>
      <div class="col">
          <label for=""> Numéro de serie</label>
          <input class="form-control" type="text" name="serial" value="<%=automates.serial%>" id="serial" />
      
    </div>
  </div>

  <div class="form-group">
    <label for=""> Configuration :</label>
    <textarea class="form-control" type="text" name="configuration_edit" value="<%=automates.configuration%>"  placeholder="<%=automates.description%>" id="configuration_edit" ></textarea>
  </div>

  <input type="hidden" id="idAutomate" name="idAutomate" value="<%=automates._id%>">

  <button class="btn btn-success" type="submit">Modifier</button>
</form>