<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs%>
  <div class="container-fluid d-flex justify-content-center "> 
    <div class="row">
        <div class="col">  <button class="btn btn-danger mt-3 text-uppercase lato-font" id="show"> Ajouter données</button></div>
        <div class="col">  <button class="btn btn-success mt-3 text-uppercase lato-font" id="show_donnee"> Consulter donnees</button></div>
    </div>
  
    </div>
 
  <div class="container-fluid hidden" id="ajout_donnee">
    <!---------------------------------------------------------------->
    <!-- PARTIE CREATION DES ELEMENTS DE LA BDD (AVEC DES MODALES) -->
    <!---------------------------------------------------------------->

    <div class="row  container-fluid mb-3 ">
           <!-- CREATE MARQUE-->
      <div class="col-2 text-right pt-3 mt-3">
        <a href="#createMarque" data-toggle="modal" date-target="#createMarque" type="button" class=" btn btn-outline-primary mr-2"
          id="create_button"><i class="far fa-plus-square mr-2 mt-1 text-uppercase"> marque</i></a>
      </div>
      <!-- CREATE TYPE AUTOMATE-->
      <div class="col-2 text-right pt-3 mt-3">
        <a href="#createTypeAutomate" data-toggle="modal" date-target="#createTypeAutomate" type="button" class=" btn btn-outline-primary mr-2"
          id="create_button"><i class="far fa-plus-square mr-2 mt-1 text-uppercase"> Type automate</i></a>
      </div>
         <!-- CREATE BASSIN-->
      <div class="col-2 text-right pt-3 mt-3">
        <a href="#create-bassin" data-toggle="modal" date-target="#create-bassin" type="button" class=" btn btn-outline-primary mr-2"><i
            class="far fa-plus-square mr-2 mt-1 text-uppercase "> bassin</i> </a>
      </div>
        <!-- CREATE TYPE BASSIN-->
      <div class="col-2 text-right pt-3 mt-3">
        <a href="#create-type-bassin" data-toggle="modal" date-target="#create-type-bassin" type="button" class=" btn btn-outline-primary mr-2"><i
            class="far fa-plus-square mr-2 mt-1 text-uppercase "> Type de bassin</i> </a>
      </div>
        <!-- CREATE SITE-->
      <div class="col-2 text-right pt-3 mt-3">
          <a href="#create-site" data-toggle="modal" date-target="#create-site" type="button" class=" btn btn-outline-primary mr-2"><i
              class="far fa-plus-square mr-2 mt-1 text-uppercase "> Lieu </i> </a>
        </div>
             <!-- CREATE VILLE-->
      <div class="col-2 text-right pt-3 mt-3">
        <a href="#create-ville" data-toggle="modal" date-target="#create-ville" type="button" class=" btn btn-outline-primary mr-2"><i
            class="far fa-plus-square mr-2 mt-1 text-uppercase "> Ville </i> </a>
      </div>
     
       
    </div>
  </div>

  <div class="container-fluid hidden" id="consultation_donnee">
      <!---------------------------------------------------------------->
      <!-- PARTIE CONSULTATION DES ELEMENTS DE LA BDD (AVEC DES MODALES) -->
      <!---------------------------------------------------------------->
  
      <div class="row  container-fluid px-5 mb-3 ">
             <!--  MARQUE-->
        <div class="col-2 text-right pt-3 mt-3">
          <a href="#" type="button" class=" btn btn-primary mr-2"
            id="create_button"><i class="fas fa-search-plus mr-2 mt-1 text-uppercase"> Marques</i></a>
        </div>
        <!--  TYPE AUTOMATE-->
        <div class="col-2 text-right pt-3 mt-3">
          <a href="#"  type="button" class=" btn btn-primary mr-2"
            id="create_button"><i class="fas fa-search-plus mr-2 mt-1 text-uppercase"> Type </i></a>
        </div>
           <!--  BASSIN-->
        <div class="col-2 text-right pt-3 mt-3">
          <a href="#" type="button" class=" btn btn-primary mr-2"><i
              class="fas fa-search-plus mr-2 mt-1 text-uppercase "> bassin</i> </a>
        </div>
          <!--  TYPE BASSIN-->
        <div class="col-2 text-right pt-3 mt-3">
          <a href="#" type="button" class=" btn btn-primary mr-2"><i
              class="fas fa-search-plus mr-2 mt-1 text-uppercase "> Type de bassin</i> </a>
        </div>
          <!--  SITE-->
        <div class="col-2 text-right pt-3 mt-3">
            <a href="#" type="button" class=" btn btn-primary mr-2"><i
                class="fas fa-search-plus mr-2 mt-1 text-uppercase "> Lieu </i> </a>
          </div>
               <!-- VILLE-->
        <div class="col-2 text-right pt-3 mt-3">
          <a href="#" type="button" class=" btn btn-primary mr-2"><i
              class="fas fa-search-plus mr-2 mt-1 text-uppercase "> Ville </i> </a>
        </div>
       
         
      </div>
    </div>
    <!------------------------------------------->
    <!---Messages d'alerte de succès add/update/delete----->
    <!------------------------------------------->
    <div id="messages" class="hide" role="alert">
      <div id="messages_content"></div>
    </div>
    <div id="messages_modif" class="hide" role="alert">
      <div id="messages_content_modif"></div>
    </div>
    <div id="messages_delete" class="hide" role="alert">
      <div id="messages_content_delete"></div>
    </div>
    <!------------------------------------------------------->
<div class="row mb-3">
    <div class="col-2 text-right pt-3 mt-3">
      <a href="#mymodal" data-toggle="modal" date-target="#mymodal" type="button" class="text-uppercase btn btn-primary mr-2 lato-font" id="create_button"><i
          class="far fa-plus-square mr-2 mt-1  ">  </i>Créer automate</a>
    </div>
  </div>


  <!-- AFFICHAGE DU TABLEAU -->
<section class="container-fluid">
    <% if(automates.length>0) { %>
    <table class="table table-light table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Marque</th>
          <th>Type</th>
          <th>Date de mise en service</th>
          <th>Numéro de série</th>
          <th> Ville</th>
          <th>Site</th>
          <th>Bassin</th>
          <th>Type bassin</th>
          <th>Consulter détails</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>


        <% automates.forEach(function (automate) { %>%>
        <tr>

          <td>

            <%= automate.id_marques.nom%>
          </td>
          <td>
            <%= automate.id_types.nom%>
          </td>
          <td>
            <%= automate.date_service%>
          </td>
          <td>
            <%= automate.serial%>

          </td>
          <td class="bg-dark">
            <%= automate.ville%>
          </td>
          <td class="bg-dark">
            <%= automate.site%>
          </td>
          <td class="bg-dark">
            <%= automate.bassin%>
          </td>
          <td class="bg-dark">
            <%= automates.type_bassin%>
          </td>
          <td>
            <span class="hidden">
              <%= automate.configuration%></span>
            <a href="#descriptionModal" data-target="#descriptionModal" data-toggle="modal" data-id="<%=automate._id%>"
              data-marque="<%=automate.marque%>" data-type="<%=automate.type%>" data-date_service="<%=automate.date_service%>"
              data-bassin="<%=automate.bassin%>" data-site="<%=automate.site%>" data-numeroserie="<%=automate.numeroserie%>"
              data-ville="<%= automate.ville%>" data-configuration="<%=automate.configuration%>" class="text-center">
              <i class="fas fa-search-plus fa-2x text-center"></i> </a>
          </td>

          <td><a href="#editModal" data-target="#editModal" data-toggle="modal" data-id="<%=automate._id%>" data-marque="<%=automate.id_marques.nom%>"
              data-type="<%=automate.id_types.nom%>" data-date_service="<%=automate.date_service%>" 
              data-serial="<%=automate.serial%>"
              data-configuration_edit="<%automate.configuration%>"> <i class="fas fa-edit fa-2x"></i></a></td>


          <td>
            <form onSubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette automate ?')" action="/delete/<%= automate._id %>"
              method="POST" id="delete-form">
              <button class="btn btn-success" type="submit" id="alertDelete"><i class='far fa-trash-alt '></i></button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <div>No automates found.</div>
    <% } %>
  </div>
</section>

  <!-- Modal création nouvel automate -->
  <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font" id="exampleModalLabel"> <i class="far fa-plus-square mr-2 mt-1"> </i>Ajout
            d'un nouvel automate</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include create.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal mofication automate -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Modification des données</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include edit.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>





  <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel">Détails</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include show.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createMarque" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter une marque</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include createMarque.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createTypeAutomate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter un type d'automate</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include createTypeAutomate.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="create-bassin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter un bassin</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include createBassin.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="create-type-bassin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter un type de bassin</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include createTypeBassin.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="create-ville" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header blue-underline bg-dark text-white">
          <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter une ville</h5>
          <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%include createVille.ejs%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="create-site" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header blue-underline bg-dark text-white">
            <h5 class="modal-title lato-font font-weight-bold" id="exampleModalLabel"> Ajouter un lieu</h5>
            <button type="button" class="close bg-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%include createSite.ejs%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
          </div>
        </div>
      </div>
    </div>
  


  <!-- views/partials/header.ejs -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
  <script src="/js/script.js"></script>
  <%include partials/footer.ejs%>
</body>

</html>